In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("chocolate_company.csv")

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   1094 non-null   object
 1   Country        1094 non-null   object
 2   Product        1094 non-null   object
 3   Date           1094 non-null   object
 4   Amount         1094 non-null   int64
 5   Boxes Shipped  1094 non-null   int64
dtypes: int64(2), object(4)
memory usage: 51.4+ KB
None

In [6]:
print(df.head())

     Sales Person    Country              Product        Date  Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  01/04/2022    5320
1     Van Tuxwell      India        85% Dark Bars  08/01/2022    7896
2    Gigi Bohling      India  Peanut Butter Cubes  07/07/2022    4501
3    Jan Morforth  Australia  Peanut Butter Cubes  04/27/2022   12726
4  Jehu Rudeforth         UK  Peanut Butter Cubes  02/24/2022   13685

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184

In [7]:
print("missing value before\n",df.isnull().sum)

missing value before
 <bound method DataFrame.sum of       Sales Person  Country  Product   Date  Amount  Boxes Shipped
0            False    False    False  False   False          False
1            False    False    False  False   False          False
2            False    False    False  False   False          False
3            False    False    False  False   False          False
4            False    False    False  False   False          False
...            ...      ...      ...    ...     ...            ...
1089         False    False    False  False   False          False
1090         False    False    False  False   False          False
1091         False    False    False  False   False          False
1092         False    False    False  False   False          False
1093         False    False    False  False   False          False

[1094 rows x 6 columns]>

In [8]:
df = df.dropna()

In [9]:
print("duplicates before \n",df.duplicated().sum)

duplicates before
 <bound method Series.sum of 0       False
1       False
2       False
3       False
4       False
        ...
1089    False
1090    False
1091    False
1092    False
1093    False
Length: 1094, dtype: bool>

In [10]:
df = df.drop_duplicates()

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   1094 non-null   object
 1   Country        1094 non-null   object
 2   Product        1094 non-null   object
 3   Date           1094 non-null   object
 4   Amount         1094 non-null   int64
 5   Boxes Shipped  1094 non-null   int64
dtypes: int64(2), object(4)
memory usage: 51.4+ KB
None

In [12]:
print(df.head())

     Sales Person    Country              Product        Date  Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  01/04/2022    5320
1     Van Tuxwell      India        85% Dark Bars  08/01/2022    7896
2    Gigi Bohling      India  Peanut Butter Cubes  07/07/2022    4501
3    Jan Morforth  Australia  Peanut Butter Cubes  04/27/2022   12726
4  Jehu Rudeforth         UK  Peanut Butter Cubes  02/24/2022   13685

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184

In [13]:
df.to_csv("chocolate_company_data_cleaned.csv" , index =False)

In [14]:
print(df.head())

     Sales Person    Country              Product        Date  Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  01/04/2022    5320
1     Van Tuxwell      India        85% Dark Bars  08/01/2022    7896
2    Gigi Bohling      India  Peanut Butter Cubes  07/07/2022    4501
3    Jan Morforth  Australia  Peanut Butter Cubes  04/27/2022   12726
4  Jehu Rudeforth         UK  Peanut Butter Cubes  02/24/2022   13685

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184